/*PROJECTS*/
div.project {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-style: solid;
    border-color: #354A77;
    border-width: 5px;
    background-color: #354A77;
}
div.project h1{
    font-weight: bolder;
    font-size: 25px;
    color: #354A77;
}
div.project h2{
    font-weight: normal;
    font-size: 18px;
    color: #354A77;
    margin-bottom: 20px;
}
div.project p{
    font-size: 15px;
    margin-bottom: 20px;
    width: 650px;
}
div.project button{
    font-weight: bolder;
    padding: 5px;
    border-style: none;
    background-color: #FF8661;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}
div.project button:hover{
    background-color: #f7a7aa;
    transition-duration: 0.2s;
}
div.project div.section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    display: flex;
}
div.project div.section img {
    margin-top: 15px;
    width: 200px;
    height: 150px;
    border-style: solid;
    border-color: #354A77;
    border-width: 1px;
    object-fit: cover;
}
div.project div.section:nth-child(odd) {background: #FFF}
div.project div.section:nth-child(even) {background: rgb(243, 243, 243)}