/* Landscape phones and down */
@media (max-width: 530px) {
    div.page{
        margin-top: 80px;
        width: 200px;
    } 
}

/* Landscape phone to portrait tablet */
@media (min-width: 531px) and (max-width: 767px) {
    div.page{
        margin-top: 40px;
        width: 450px;
    }  
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1099px) {
    div.page{
        margin-top: 40px;
        width: 600px;
    } 
}

/* Large desktop */
@media (min-width: 1100px) {
    div.page{
        margin-top: 40px;
        width: 1000px;
    }  
}



/*PAGE*/
div.page{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-style: solid;
    border-color: #354A77;
    border-width: 5px;
}

div.page h1{
    margin-bottom: 5px;
}

div.page h2{
    font-weight: lighter;
    margin-bottom: 20px;
}
div img {
    margin-top: 15px;
    width: 995px;
    height: 150px;
    border-style: solid;
    border-color: #354A77;
    border-width: 1px;
    object-fit: cover;
    
}

.float-left{
    float:left;
}
.float-center{
    margin-left: auto;
    margin-right: auto;
}
.float-right{
    float:right;
}

.small{
    width: 300px;
    height:fit-content;
    text-align: center;
    margin-bottom: 2px;
}
.small img{
    width: 250px;
    height: auto;
}

.med{
    width: 500px;
    height:fit-content;
    text-align: center;
    margin-bottom: 2px;
}
.med img{
    width: 450px;
    height: auto;
}

.large{
    width: 700px;
    height:fit-content;
    text-align: center;
    margin-bottom: 2px;
}
.large img{
    width: 650px;
    height: auto;
}

u{
    text-decoration:none;
    color: #01a1c1;
}
b{
    font-weight: normal;
    color: #ee8f00;
}
i{
    font-style: normal;
    color: rgb(44, 125, 44);
}

code{
    display:flex;
    flex-direction: column;
    width:fit-content;
    background-color: #FFFBFC;
    border-style: solid;
    border-color: #354A77;
    border-width: 1px;
    padding-right: 20px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:10px;
    padding-top:10px;
    padding-bottom:10px;
}
code pre{
    width:max-content;
    order:1;
    counter-increment:line;
}
code pre:nth-child(1)::before
{
    padding-top:10px;
}
code pre:nth-last-child(1)::before
{
    padding-bottom:10px;
}
code pre::before
{
    font-weight:lighter;
    color:grey;
    border-right: 1px solid grey;
  content:counter(line);
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
  text-align: center;
}