/* Landscape phones and down */
@media (max-width: 530px) {
    div.project {
        width: 350px;
    }
    div.project p{
        width: 320px;
    }
    div.project div.section img {
        margin-top: 15px;
        width: 0px;
        height: 0px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 531px) and (max-width: 767px) {
    div.project {
        width: 500px;
    }
    div.project p{
        width: 450px;
    }
    div.project div.section img {
        margin-top: 15px;
        width: 0px;
        height: 0px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1099px) {
    div.project {
        width: 600px;
    }
    div.project p{
        width: 350px;
        margin-right: 50px;
    }
    div.project div.section img {
        margin-top: 50px;
        width: 150px;
        height: 100px;
    }
}

/* Large desktop */
@media (min-width: 1100px) {
    div.project {
        width: 1000px;
    }
    div.project p{
        width: 650px;
        margin-right: 50px;
    }
    div.project div.section img {
        margin-top: 15px;
        width: 200px;
        height: 150px;
    }
}

/*PROJECTS*/
div.project {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #354A77;
    border-width: 5px;
    background-color: #354A77;
}
div.project h1{
    font-weight: bolder;
    color: #354A77;
}
div.project h2{
    font-weight: normal;
    color: #354A77;
    margin-bottom: 20px;
}
div.project p{
    margin-bottom: 20px;
}
div.project button{
    font-weight: bolder;
    padding: 5px;
    border-style: none;
    background-color: #FF8661;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}
div.project button:hover{
    background-color: #f7a7aa;
    transition-duration: 0.2s;
}
div.project div.section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    display: flex;
}
div.project div.section img {
    border-style: solid;
    border-color: #354A77;
    border-width: 1px;
    object-fit: cover;
}
div.project div.section:nth-child(odd) {background: #FFF}
div.project div.section:nth-child(even) {background: rgb(243, 243, 243)}